pandas
folium
scikit-image 
scikit-learn 
scipy 
selenium 
tensorflow
grpcio==1.39.0
grpcio-tools==1.39.0
grpcio-status==1.39.0
grpcio-reflection==1.39.0
grpcio-health-checking==1.39.0
grpcio-channelz==1.39.0
grpcio-testing==1.39.0
cython==0.29.23
six==1.15.0
requests==2.25.1
branca